h1 {
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: -5px;
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
}
p {
    color: black;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
}
button {
    padding: 20px 65px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 15px;
    transition: 0.3s;
}
button:hover {
    background-color: green;
}