h1 {
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: -5px;
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
}
p {
    color: black;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
}
button {
    padding: 20px 65px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 15px;
    transition: 0.3s;
}
button:hover {
    background-color: green;
}
.container {
    height: 100vh !important;
}
.quote-body {
    width: fit-content !important;
    height: fit-content !important;
}
@media (max-width:768px){
    h1{
        font-size: 45px;
    }
    p{
        font-size: 20px;
    }
    button {
        padding: 15px 50px;
    }
}